.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    & .content-container {
        display: flex;
        flex-direction: column;
        align-items: justify; 
        height: inherit;
    & .o-data-message{
    text-align: center;
    margin: 0 auto;
    }
    }
 
}   
     form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
      }